
@{
    ViewBag.Title = "Sobre";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Sobre</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center animated fadeInDown animation-delay-5">
                <img src="~/Assets/img/aabb/logo-grande.jpg" width="300" alt="AABB Piracicaba" title="AABB Piracicaba" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 wow fadeInUp">
            <h2 class="right-line">Sobre a AABB Piracicaba</h2>
            <p class="p-lg">Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Corpora, occulta eruditionem, vidisse videamus occultarum inciderit nocet dubitat studia fama latinam, redeamus miserius dissentio reici defatigatio honesta hinc doloremque. Pacto otiosum fecerit, propemodum ceramico exercitumque vidisse vocent orationis lucilius utrisque repugnantiumve mnesarchum. Democrito quaerimus monstret tradere magnosque bono eaque variis, beatam erat restincto ipse pariatur.</p>
            <h4>Outras informações</h4>
            <p class="p-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ne albuci eorum <strong>disciplina</strong> invenerit gravissimis usque, voluptati aristippi maestitiam intuemur, ibidem platonem eveniet allevatio expectant reddidisti magnus quis. Tarentinis effluere quoniam evolutio oblivione eo expressas magnitudinem maior summum, placeat quosque concursio videatur verbi efficiantur.</p>
            <hr class="dotted">
            <blockquote class="blockquote-color-bg-primary">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, leo eget bibendum sodales.</p>
                <footer>José da Silva, participante do Rachão</footer>
            </blockquote>
        </div>
        <div class="col-md-4 wow fadeInUp">
            <h2 class="right-line">Fotos</h2>
            <em>Clique para ampliar</em>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <a href="~/Assets/img/aabb/aabb-01-grande.jpg" data-lightbox="aabb-01-grande">
                        <img src="~/Assets/img/aabb/aabb-01.jpg" alt="" class="img-responsive imageborder" />
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="~/Assets/img/aabb/aabb-02-grande.jpg" data-lightbox="aabb-02-grande">
                        <img src="~/Assets/img/aabb/aabb-02.jpg" alt="" class="img-responsive imageborder" />
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <a href="~/Assets/img/aabb/aabb-03-grande.jpg" data-lightbox="aabb-03-grande">
                        <img src="~/Assets/img/aabb/aabb-03.jpg" alt="" class="img-responsive imageborder" />
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="~/Assets/img/aabb/aabb-04-grande.jpg" data-lightbox="aabb-04-grande">
                        <img src="~/Assets/img/aabb/aabb-04.jpg" alt="" class="img-responsive imageborder" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Nossa Equipe</h2>
        </div>
        <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-8">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Salomão <small class="pull-right">Faz Tudo</small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="assets/img/demo/t1.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-8">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Seu Gomes <small class="pull-right">Portaria</small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="assets/img/demo/t1.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Estatuto</h2>
            <p class="p-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corpora, occulta eruditionem, vidisse videamus occultarum inciderit nocet dubitat studia fama latinam, redeamus miserius dissentio reici defatigatio honesta hinc doloremque.
            </p>
            <p>
                <a href="#" class="button button-raised button-action"><i class="fa fa-file-pdf-o"></i> Baixe o PDF completo aqui</a>
            </p>
        </div>
    </div>
