@{
    ViewBag.Title = "Futebol";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Academia</h1>

        <ol class="breadcrumb pull-right">
            <li>Atividades</li>
            <li class="active">Academia</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="slogan text-center animated bounceInLeft animation-delay-5">
                <span>Pensando na saúde?</span> Venha levantar peso aqui na <span>AABB Piracicaba</span>.
                <br />
                Nossa academia possui ótimos aparelhos!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Assets/img/aabb/academia-peso.jpg" class="img-responsive imageborder" alt="Campo de Futebol">
        </div>
        <br class="visible-xs" />
        <div class="col-sm-6">
            <img src="~/Assets/img/aabb/academia-aparelhos.jpg" class="img-responsive imageborder" alt="Campo de Futebol">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <h1 class="right-line no-margin-top">Como funciona?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="p-lg">
                Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Corpora, occulta eruditionem, vidisse videamus occultarum inciderit nocet dubitat studia
                fama latinam, redeamus miserius dissentio reici defatigatio honesta hinc doloremque. Pacto otiosum fecerit, propemodum ceramico exercitumque vidisse vocent orationis lucilius
                utrisque repugnantiumve mnesarchum. Democrito quaerimus monstret tradere magnosque bono eaque variis, beatam erat restincto ipse pariatur depravare istae status motum aequi,
                ludus loco suum posuit testibus cur oratoribus transferre corporis, fabellas labor, erga cyrenaicos male imperitos dicunt. Mentitum siculis brute oritur stoicis.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="section-title">Horários</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Dia da semana</th>
                        <th>Hora de Início</th>
                        <th>Hora de Fim</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Segunda à Sexta-Feira</td>
                        <td>08:00 hs</td>
                        <td>21:00 hs</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>08:00 hs</td>
                        <td>16:00 hs</td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td>08:00 hs</td>
                        <td>12:00 hs</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3 class="section-title">Sem custo adicional!</h3>
            <div class="panel panel-border">
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, cupiditate, fuga, delectus laborum illum nulla necessitatibus vero earum sint cum asperiores qui repudiandae aspernatur dolor maxime dignissimos dolores reiciendis explicabo inventore et minima nam labore itaque sapiente similique fugit quae eum quibusdam obcaecati saepe voluptates cumque alias consectetur atque animi!</p>
                </div>
            </div>
        </div>

    </div>
</div>