@{
    ViewBag.Title = "Futebol";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Futebol</h1>

        <ol class="breadcrumb pull-right">
            <li>Atividades</li>
            <li class="active">Futebol</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="slogan text-center animated bounceInLeft animation-delay-5">
                <span>A atividade preferida </span>dos brasileiros e dos sócios da <span>AABB Piracicaba</span>.
                <br />
                Venha se divertir conosco!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img src="~/Assets/img/aabb/futebol-campo.jpg" class="img-responsive imageborder" alt="Campo de Futebol">
        </div>
        <div class="col-xs-6">
            <img src="~/Assets/img/aabb/futebol-campo-2.jpg" class="img-responsive imageborder" alt="Campo de Futebol">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <h1 class="right-line no-margin-top">Como funciona?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="p-lg">
                Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Corpora, occulta eruditionem, vidisse videamus occultarum inciderit nocet dubitat studia
                fama latinam, redeamus miserius dissentio reici defatigatio honesta hinc doloremque. Pacto otiosum fecerit, propemodum ceramico exercitumque vidisse vocent orationis lucilius
                utrisque repugnantiumve mnesarchum. Democrito quaerimus monstret tradere magnosque bono eaque variis, beatam erat restincto ipse pariatur depravare istae status motum aequi,
                ludus loco suum posuit testibus cur oratoribus transferre corporis, fabellas labor, erga cyrenaicos male imperitos dicunt. Mentitum siculis brute oritur stoicis.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="section-title">Rachão livre a todos os sócios</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Dia da semana</th>
                        <th>Hora de Início</th>
                        <th>Hora de Fim</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Quarta-Feira</td>
                        <td>20:00 hs</td>
                        <td>22:00 hs</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>16:00 hs</td>
                        <td>20:00 hs</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3 class="section-title">Aluguel de campos</h3>
            <p class="lg">
                Temos campos disponíveis para aluguel para não sócios. <strong>Entre em contato conosco.</strong>
            </p>
        </div>
    </div>
</div>