
@{
    ViewBag.Title = "Tênis";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Tênis</h1>

        <ol class="breadcrumb pull-right">
            <li>Atividades</li>
            <li class="active">Tênis</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="slogan text-center animated bounceInLeft animation-delay-5">
                <span>Quer ser o próximo </span>Gustavo Kuerten na <span>AABB Piracicaba</span>?
                <br />
                Venha jogar e treinar!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Assets/img/aabb/tenis-01.jpg" class="img-responsive imageborder" alt="Quadra de Tênis">
        </div>
        <br class="visible-xs" />
        <div class="col-sm-6">
            <img src="~/Assets/img/aabb/tenis-02.jpg" class="img-responsive imageborder" alt="Quadra de Tênis">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <h1 class="right-line no-margin-top">Como funciona?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="p-lg">
                Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Corpora, occulta eruditionem, vidisse videamus occultarum inciderit nocet dubitat studia
                fama latinam, redeamus miserius dissentio reici defatigatio honesta hinc doloremque. Pacto otiosum fecerit, propemodum ceramico exercitumque vidisse vocent orationis lucilius
                utrisque repugnantiumve mnesarchum. Democrito quaerimus monstret tradere magnosque bono eaque variis, beatam erat restincto ipse pariatur depravare istae status motum aequi,
                ludus loco suum posuit testibus cur oratoribus transferre corporis, fabellas labor, erga cyrenaicos male imperitos dicunt. Mentitum siculis brute oritur stoicis.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="right-line no-margin-top">A Especialista</h1>
            <img src="~/Assets/img/demo/t2.jpg" alt="" height="150" class="alignleft imageborder">
            <p class="p-lg">
                Cras lacinia risus sed massa mattis, nec euismod risus tincidunt. Aliquam erat volutpat. Pellentesque non justo erat. Duis ut dolor congue, dapibus magna a, efficitur nisl. Duis placerat libero at ornare malesuada. Nulla iaculis facilisis facilisis. Ut eget ligula vulputate, condimentum nisl varius, tempor nunc.
            </p>
            <p class="p-lg">
                Ut dictum in tellus a ultricies. Cras ex urna, posuere eget facilisis eget, accumsan ut enim. Ut ac tortor porta dolor fringilla viverra. Ut varius dolor at posuere consequat. Phasellus vitae augue vitae elit lacinia pharetra. Etiam at quam fringilla, euismod odio sit amet, tempus enim. Vestibulum cursus turpis quis nisi porta imperdiet. In gravida pretium metus.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="right-line no-margin-top">Vamos jogar?</h1>
            <p class="p-lg">
                Proin convallis libero et elit varius consectetur. Donec molestie dui at ante mattis, sed ultricies mi accumsan. Etiam dolor neque, mollis non cursus vel, dignissim nec augue. Morbi accumsan vitae lectus interdum tempor. Aliquam sem risus, dictum vitae blandit accumsan, vestibulum vel lectus. Maecenas varius tincidunt quam in rhoncus. Suspendisse eu efficitur augue. Suspendisse potenti. Donec ultrices purus vel mauris congue viverra at eu mauris. Donec facilisis lacinia tincidunt. Etiam malesuada enim enim, ut ullamcorper ante condimentum et.
            </p>
        </div>
    </div>
</div>