.dropdown-no-drop > a:after {
    content: ""!important;
}

.header-full-dark {
    background-color: #2a458c;
}

.header-full-title h1 span, .header-full-title h1 span a {
    color: #f9dd16;
}

.header-full-title {
    padding-left: 130px;
    background-image: url(/Assets/img/logo/aabb-logo-grande.png)
}

.navbar-header-full {
    /*background-color: #2a458c;*/
}

.navbar-default .navbar-brand {
    /*color: #fff;*/
    text-transform: none;
    background-image: none;
    padding-left: 5px;
}

.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
    /*color: #fff;*/
}

.navbar-default .navbar-brand span {
    color: #000;
}

.navbar-default .navbar-nav>li>a {
    /*color: #fff;*/
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    /*color: #f9dd16;*/
}

.wrap-hero .carousel-hero .carousel-caption span,
.wrap-hero .carousel-hero .carousel-caption .carousel-list strong {
    color: #f9dd16;
}

.wrap-hero {
    background-image: url(/Assets/img/aabb/bg-happy-people-opt.jpg)
}

.wrap-hero .carousel-hero .carousel-caption .action-zone {
    text-align: left;
}

/*******************************/

.header-full-dark .top-nav .dropdown a.area-associado,
.header-full-dark .top-nav .dropdown a i {
    background-color: #f9dd16;
    color: #FFF;
}

a.destaque {
    color: #f9dd16!important;
}