.navbar-default .navbar-nav > li.dropdown-no-drop > a {
    padding-right: 15px;
}

.dropdown-no-drop > a:after {
    content: "" !important;
}

.header-full-dark {
    background-color: #2a458c;
}

.header-full-title h1 span, .header-full-title h1 span a {
    color: #f9dd16;
}

.header-full-title {
    padding-left: 130px;
    background-image: url(/Assets/img/logo/aabb-logo-grande.png);
}

@media only screen and (max-width : 767px) {
    .navbar-header-full {
        background-color: #2a458c;
    }

    .navbar-default .navbar-brand {
        color: #FFF;
    }

        .navbar-default .navbar-brand span {
            color: #f9dd16;
        }

        .navbar-default .navbar-brand:focus,
        .navbar-default .navbar-brand:hover {
            color: #FFF;
        }
}

.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    background-color: #f0f0f0;
}

.navbar-default .navbar-brand {
    text-transform: none;
    background-image: none;
    padding-left: 5px;
}

.wrap-hero .carousel-hero .carousel-caption span,
.wrap-hero .carousel-hero .carousel-caption .carousel-list strong {
    color: #f9dd16;
}

.wrap-hero {
    background-image: url(/Assets/img/aabb/bg-happy-people-opt.jpg);
}

    .wrap-hero .carousel-hero .carousel-caption .action-zone {
        text-align: left;
    }

/*******************************/

.header-full-dark .top-nav .dropdown a.area-associado,
.header-full-dark .top-nav .dropdown a i {
    background-color: #f9dd16;
    color: #FFF;
}

a.destaque {
    color: #f9dd16 !important;
}

.image-center {
    margin-left: auto;
    margin-right: auto;
}

.img-master {
    width: 100%;
    padding: 5px;
}

@media only screen and (max-width : 767px) {
    /*.img-master {
        width: 550px;
        padding: 5px;
        margin: 5px;
    }*/
}
