<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="footer-widget-title"><i class="fa fa-location-arrow"></i> Endereço</h3>
                <div>
                    <strong>Rua Longe do Caramba</strong>, 178. 
                    <br />
                    <strong>Piracicaba</strong>, bairro que eu não sei
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="footer-widget-title"><i class="fa fa-envelope"></i> Fale Conosco</h3>
                <div>
                    <strong>Telefone:</strong> (19) 3434-9797 / (19) 3434-9197
                    <br />
                    <strong>Email:</strong> contato@@aabbpira.com.br
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="footer-widget-title"><i class="fa fa-clock-o"></i> Funcionamento</h3>
                <div>
                    <strong>De segunda à sexta-feira:</strong> 08:00 às 22:00
                    <br />
                    <strong>Finais de semana:</strong> 10:00 às 20:00
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside>