<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="footer-widget-title"><i class="fa fa-location-arrow"></i> Endereço</h3>
                <div>
                    <strong>Rua Longe do Caramba</strong>, 178. 
                    <br />
                    <strong>Piracicaba</strong>, bairro que eu não sei
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="footer-widget-title"><i class="fa fa-envelope"></i> Fale Conosco</h3>
                <div>
                    <strong>Telefone:</strong> (19) 3434-9797 / (19) 3434-9197
                    <br />
                    <strong>Email:</strong> contato@@aabbpira.com.br
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="footer-widget-title"><i class="fa fa-facebook-official"></i> Facebook</h3>
                <div>
                    Visite nossa fan page! <a class="destaque" href="https://www.facebook.com/aabb.piracicaba" target="_blank">AABB Piracicaba</a>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside>