<nav class="navbar navbar-default navbar-header-full yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="@Url.Action("Index", "Home")">AABB <span>Piracicaba</span></a>
        </div> <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
            </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>
