
@{
    ViewBag.Title = "Galerias";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Galerias</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="ec-box">
                <div class="ec-box-header">
                    <a href="#"><h4>Baile do Bancário</h4></a>
                </div>
                <a href="#"><img class="img-master" src="~/Assets/img/aabb/galeria-02.jpg" alt=""></a>
                <div class="ec-box-footer text-center">
                    <em>02 de Agosto de 2017</em>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ec-box">
                <div class="ec-box-header">
                    <a href="#"><h4>Festa do Rachão</h4></a>
                </div>
                <a href="#"><img class="img-master" src="~/Assets/img/aabb/galeria-01.jpg" alt=""></a>
                <div class="ec-box-footer text-center">
                    <em>15 de Junho de 2017</em>
                </div>
            </div>
        </div>
    </div>
</div>