
@{
    ViewBag.Title = "Galerias";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Galerias</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <span class="galeria-title">Festa dos Bancários</span>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <img class="img-master" src="~/Assets/img/aabb/galeria-02.jpg" />
                    </a>
                </div>
                <div class="panel-footer">
                    <a href="#" class="button button-primary button-rounded button-small">Veja as fotos! (20)</a>
                    <em class="pull-right">12 de Maio de 2016</em>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <span class="galeria-title">Festa do Rachão</span>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <img class="img-master" src="~/Assets/img/aabb/galeria-01.jpg" />
                    </a>
                </div>
                <div class="panel-footer">
                    <a href="#" class="button button-primary button-rounded button-small">Veja as fotos! (12)</a>
                    <em class="pull-right">05 de Maio de 2016</em>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>