
@{
    ViewBag.Title = "Eventos";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Eventos</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <article class="post animated fadeInDown">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title"><a href="#" class="transicion">Abertura das piscinas</a></h3>
                        <div class="row">
                            <div class="col-md-5">
                                <img src="~/Assets/img/aabb/piscina-01.jpg" class="img-responsive imageborder" alt="Image">
                            </div>
                            <div class="col-md-7">
                                <p class="">
                                    Show com a ilustre Zazaza, às <strong>08:30 em ponto!</strong>
                                </p>
                                <p>Enim velit Duis eu voluptate do tempor non irure nisi ad occaecat dolore aliqua laboris amet aute minim qui et Excepteur ide cupidatat. <strong>Dú pague eu,</strong> id nulla in mollit consectetur animal Ut veniam magna ut exercitation ex sint sint ex sit est pariatur non nisi eu est magna ullamco minim nulla aliquip reprehenderit Lorem ipsum Minim Ut in nulla labore sint nostrud commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In beatae pariatur expedita quibusdam non adipisci doloribus sit iusto esse ad.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, enim, molestias officia ipsam harum ratione iusto laborum veritatis velit nam vero sapiente repudiandae ipsum recusandae laudantium adipisci iure eos unde animi ab tenetur odio consequuntur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-8">
                                <i class="fa fa-clock-o"></i> 17 de Junho de 2018
                            </div>
                            <div class="col-xs-4">
                                <a href="#" class="pull-right">Saiba mais »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- -->
            <article class="post animated fadeInDown">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title"><a href="#" class="transicion">AABB Piracicaba inaugura Web Site</a></h3>
                        <div class="row">
                            <div class="col-md-5">
                                <img src="~/Assets/img/aabb/party-web.jpg" class="img-responsive imageborder" alt="Image">
                            </div>
                            <div class="col-md-7">
                                <p class="">
                                    Blabl ablablabl ablabl bal <strong>blablabalbal!</strong>
                                </p>
                                <p>Enim velit Duis eu voluptate do tempor non irure nisi ad occaecat dolore aliqua laboris amet aute minim qui et Excepteur ide cupidatat. <strong>Dú pague eu,</strong> id nulla in mollit consectetur animal Ut veniam magna ut exercitation ex sint sint ex sit est pariatur non nisi eu est magna ullamco minim nulla aliquip reprehenderit Lorem ipsum Minim Ut in nulla labore sint nostrud commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In beatae pariatur expedita quibusdam non adipisci doloribus sit iusto esse ad.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, enim, molestias officia ipsam harum ratione iusto laborum veritatis velit nam vero sapiente repudiandae ipsum recusandae laudantium adipisci iure eos unde animi ab tenetur odio consequuntur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-8">
                                <i class="fa fa-clock-o"></i> 05 de Fevereiro de 2017
                            </div>
                            <div class="col-xs-4">
                                <a href="#" class="pull-right">Saiba mais »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </div> <!-- row -->
</div>