
@{
    ViewBag.Title = "Home";
}

<section class="wrap-hero margin-bottom">
    <div id="carousel-example-ny" class="carousel carousel-hero slide" data-ride="carousel" data-interval="7000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-ny" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-ny" data-slide-to="1"></li>
            <li data-target="#carousel-example-ny" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="">
                                <img src="~/Assets/img/aabb/futebol-bola.jpg" alt="" class="img-responsive animated zoomInUp animation-delay-1">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-5 carousel-title"><span>+200 eventos</span> por ano</h1>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-5"></i><span class="animated fadeInRightBig animation-delay-6">Mensalidade de apenas <strong>R$ 80,00</strong>!</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-5"></i><span class="animated fadeInRightBig animation-delay-6">Toda quarta e sábado: <strong>Futebol</strong>!</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-5"></i><span class="animated fadeInRightBig animation-delay-6"><strong>Academia</strong> sem mensalidade extra!</span></li>
                                </ul>
                                <p class="animated zoomIn animation-delay-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. In rerum maxime quis tenetur dolor <span>recusandae a nulla</span> qui enim dolorem.</p>
                                <div class="action-zone">
                                    @*<a href="https://wrapbootstrap.com/theme/artificial-reason-responsive-full-pack-WB0307B17" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-opencart"></i> Purchase Now</a>*@
                                    <a href="#" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-10"><i class="fa fa-search"></i> Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->

            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="carousel-object">

                                <img src="~/Assets/img/aabb/quadra-tenis.jpg" alt="" class="img-responsive animated zoomInUp animation-delay-1">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-5 carousel-title">4 quadras <span>de tênis</span></h1>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-5"></i><span class="animated fadeInRightBig animation-delay-6"><strong>Venha jogar tênis</strong> conosco!</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-5"></i><span class="animated fadeInRightBig animation-delay-6">Aulas <strong>particulares</strong> disponíveis!</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-5"></i><span class="animated fadeInRightBig animation-delay-6">Campeonatos <strong>mensalmente</strong>!</span></li>
                                </ul>
                                <p class="animated zoomIn animation-delay-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. In rerum maxime quis tenetur dolor <span>recusandae a nulla</span> qui enim dolorem.</p>
                                <div class="action-zone">
                                    @*<a href="https://wrapbootstrap.com/theme/artificial-reason-responsive-full-pack-WB0307B17" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-opencart"></i> Purchase Now</a>*@
                                    <a href="#" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-10"><i class="fa fa-search"></i> Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->

            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="">
                                <img src="~/Assets/img/aabb/salao-de-festas.jpg" alt="" class="img-responsive animated zoomInUp animation-delay-1">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-5 carousel-title">Temos um <span>salão de festas</span></h1>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-5"></i><span class="animated fadeInRightBig animation-delay-6">Praticamente um <strong>Itaquerão</strong>.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-5"></i><span class="animated fadeInRightBig animation-delay-6">Blab labal bal <strong>blabla</strong> bla.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-5"></i><span class="animated fadeInRightBig animation-delay-6"><strong>Bla bla</strong>, bla blabalbla</span></li>
                                </ul>
                                <p class="animated zoomIn animation-delay-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. In rerum maxime quis tenetur dolor <span>recusandae a nulla</span> qui enim dolorem.</p>
                                <div class="action-zone">
                                    @*<a href="https://wrapbootstrap.com/theme/artificial-reason-responsive-full-pack-WB0307B17" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-opencart"></i> Purchase Now</a>*@
                                    <a href="#" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-10"><i class="fa fa-search"></i> Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
        </div> <!-- carousel-inner -->
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-ny" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#carousel-example-ny" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</section> <!-- carousel -->

